Django
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
drf-spectacular

gunicorn
whitenoise

psycopg2-binary

cloudinary
Pillow

python-dotenv

requests
google-auth
google-auth-oauthlib
google-auth-httplib2

django-rest-passwordreset

resend